li {
  list-style: none;
  transition: all 0.1s ease-in;
}

li:hover,
li:focus {
  transform: scale(1.01);

  a {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  }
}

a {
  background-color: white;
  padding: 30px;
  display: flex;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.11);
  max-width: 600px;
  margin: 0 auto 30px;
  transition: all 0.1s ease-in;
}

.imageHolder {
  height: 120px;
  width: 120px;
  display: inline-block;
  margin-right: 30px;
  flex-shrink: 0;
}

.content {
  text-align: left;
  flex-shrink: 1;
  height: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.latin {
  font-style: italic;
  margin-top: 0;
}

h4 {
  margin: 0;
}

p {
  font-size: 1.4rem;
}
