ul {
  padding: 0;
}

input::placeholder {
  text-align: center;
  color: grey;
}

h3 {
  position: relative;
  display: inline-block;
}

h3::before,
h3::after {
  position: absolute;
  content: '';
  height: 1px;
  width: 180px;
  background-color: #292522;
  top: 50%;
}

h3::before {
  right: 133%;
}

h3::after {
  left: 133%;
}