p,
li,
nav,
.logo,
.imageHolder {
  display: inline-block;
}

li {
  font-size: 1.8rem;
  margin-left: 40px;
}

header {
  background-color: white;
}

.logo {
  padding: 25px 0;

  p {
    font-size: 2rem;
    font-family: "Open", sans-serif;
  }
  .imageHolder {
    height: 1.65rem;
    width: 1.65rem;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  font-size: 1.5rem;
}

i {
  font-size: 1.3rem;
}