<header>
  <div class="wrapper">
    <div class="logo">
        <a routerLink="/" routerLinkActive="active">
          <div class="imageHolder">
            <img src="../../assets/logoIcons/001-plant.png" alt="Green tropical leaf">
          </div>
          <p>HNTKYP</p>
        </a>
    </div>
   
    <nav>
        <li>
          <a routerLink="/search" routerLinkActive="active">🔍 Search</a>
        </li>
        <li>
            <a routerLink="/" routerLinkActive="active">Sign In</a>
        </li>
     </nav>
  </div>
</header>



<div *ngIf="showCredit">
  <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"     title="Flaticon">www.flaticon.com</a></div><div>Icons made by <a href="https://www.flaticon.com/authors/ddara" title="dDara">dDara</a> from <a href="https://www.flaticon.com/"     title="Flaticon">www.flaticon.com</a></div><div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/"     title="Flaticon">www.flaticon.com</a></div>
</div>