* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  margin: 0;
}

html,
a {
  color: #292522;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 74%;
  max-width: 1300px;
  margin: 0 auto;
}

img {
  height: 100%;
  width: 100%;
  display: inline-block;
}

.imageHolder {
  display: inline-block;
}

h1,
h2,
h3,
h4 {
  font-family: "Playfair Display", serif;
}

p {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
}

h2 {
  font-size: 3.5rem;
  line-height: 4rem;
}