* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  margin: 0;
}

html,
a {
  color: #292522;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 74%;
  max-width: 1300px;
  margin: 0 auto;
}

img {
  height: 100%;
  width: 100%;
  display: inline-block;
}

.imageHolder {
  display: inline-block;
}

h1,
h2,
h3,
h4 {
  font-family: "Playfair Display", serif;
}

h4 {
  font-size: 2.6rem;
}

p,
a {
  font-family: "Open Sans", sans-serif;
}

p {
  font-size: 1.6rem;
}

h2 {
  font-size: 3.5rem;
  line-height: 4rem;
}

input,
textarea {
  font-size: 1.6rem;
  padding: 12px 15px;
  border: none;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.11);
  width: 100%;
  margin-bottom: 15px;
}

input::placeholder,
textarea::placeholder {
  color: rgb(145, 145, 145);
}

textarea {
  margin-bottom: 10px;
}

button {
  background-color: white;
  font-size: 1.8rem;
  padding: 15px 30px;
  border: none;
  border-radius: 0px;
  transition: all 0.1s ease-in;
  margin: 15px 0;
}

button:hover,
button:focus {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}