.searchPlants {
  background-color: #FAF7F2;
  min-height: calc(100vh - 219px);
  border: 1px solid transparent;
  text-align: center;
  padding: 30px;
  position: relative;
}

input {
  text-align: center;
  padding: 18px 20px;
  width: 100%;
  max-width: 700px;
  margin: 30px auto 20px;
}

input::placeholder {
  text-align: center;
  color: rgb(145, 145, 145);
}

.addNewPlant {
  font-size: 5rem;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  color: #968B78;
  transition: all 0.1s ease-in;
}

.addNewPlant:hover,
.addNewPlant:focus {
  transform: scale(1.1);
}

button.addNewPlant:hover,
button.addNewPlant:focus {
  box-shadow: none;
  transform: scale(1);

  i {
    color: #7D715B;
  }
}