.searchPlants {
  background-color: #FAF7F2;
  min-height: calc(100vh - 219px);
  border: 1px solid transparent;
  text-align: center;
  padding: 30px;
}

input {
  font-size: 1.6rem;
  text-align: center;
  padding: 18px 20px;
  width: 85%;
  max-width: 700px;
  border: none;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.11);
  margin: 30px;
}

input::placeholder {
  text-align: center;
  color: rgb(145, 145, 145);
}