<div class="home">
  <div class="">
    <div class="row">
      <div class="content">
        <h2>How <span>not</span> to kill your plant.</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam praesentium cumque voluptas qui quaerat at possimus incidunt suscipit tenetur eum fuga expedita magni, et id! Odit vel hic laudantium voluptate!</p>
        <app-basic-button></app-basic-button>
      </div>
      <div class="imageHolder"></div>
    </div>
    <div class="row">
      <div class="imageHolder"></div>
      <div class="content">
        <h2>Save and share your plants!</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam praesentium cumque voluptas qui quaerat at possimus incidunt suscipit tenetur eum fuga expedita magni, et id! Odit vel hic laudantium voluptate!</p>
        <app-basic-button></app-basic-button>
      </div>
    </div>
    <div class="row">
      <div class="content">
        <h2>Not sure what you're looking for?</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam praesentium cumque voluptas qui quaerat at possimus incidunt suscipit tenetur eum fuga expedita magni, et id! Odit vel hic laudantium voluptate!</p>
        <app-basic-button></app-basic-button>
      </div>
      <div class="imageHolder"></div>
    </div>
  </div>
</div>